@import "../base.less";
@import "../modals.less";
/* === 加入商家 手机验证 === */
.addShop{width:100%;height:100%;background:#F0F0F0;}
.addshopHeader{padding-top: 4rem;}
.title-1{color:#FF67AB;font-size:1.3rem;font-weight:bold; text-align: center;}
.text-1{color:#B2B2B2;font-size:.6rem; text-align: center;line-height: 2.2rem;}
.ul-form{padding:0;max-width:16rem;width:85%;margin:0 auto;margin-top:1rem;border:1px solid #DCDADA; border-radius: .4rem;background: white;text-align: center;}
.ul-form li input{width:95%;margin:.1rem auto;height:2.4rem;border:none;border-bottom:1px solid #DCDADA;font-size:.7rem;color:#676767;}
.ul-form li input.bm-no{border:none;}
.ul-form li{padding:0;margin: 0;}
.btn-verify{position:absolute;top:.3rem;right:0.2rem;width:5rem;z-index: 99; border-radius:.4rem;height:1.9rem; line-height:1.9rem; text-align:center; background-color:#BBBBBB; color:#fff; font-size:.7rem;}
.position-r{position:relative;}
.addshopFooter{width: 100%;text-align: center; padding-top: 1.8rem;}
.bg2{background-color: rgb(254, 94, 190) !important;}
.btn-confirm{max-width:16rem;width:85%;border-radius:.4rem;height:2.1rem;line-height: 2.1rem; text-align:center;margin: 0 auto; background-color:#BBBBBB; color:#fff; font-size:.8rem;}
/* === 加入商家后状态信息 === */
.statusInfo{width:100%;height:100%;padding-top:20%;background: white;}
.p1{width:100%; text-align: center;}
.conimg{width:7.2rem;border:none;}
.p2{text-align: center;color:#FE5DBD; font-size:1.15rem; line-height:2rem;padding-top: 1rem;}
.p3{text-align: center;color:#7B7B7B; font-size:0.7rem;}