/*超出显示省略号（1行）*/
.hid_slh1{white-space:nowrap;text-overflow:ellipsis;overflow:hidden;-webkit-text-overflow:ellipsis;}
/*超出显示省略号（2行）*/
.hid_slh2{overflow : hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;}
.hid_slh2{overflow : hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;}
p{margin: 0px;}


/*没有卡项状态*/
.my_kx_no{width: 640px; height: 605px;}
.my_kx_gril{width: 205px; height: 213px; background: url("../../../../images/meirong/shop/no_kx_inf.png") no-repeat; margin: 128px auto 0;}

.my_kx_text{width: 640px; height: 90px; color: #7c7c7c; font-size: 30px; text-align: center; line-height: 90px;}
.btn_go_index{display: block; width: 580px; height: 85px; background-color: #ff5ebd; font-size: 36px; color: #ffffff; text-align: center; line-height: 85px; margin: 70px auto 0; text-decoration: none; border-radius: 10px;}
.btn_go_index:hover{color: #fff; }



/*有卡项状态*/
.my_xfk_have{width: 580px; margin: 0 auto 0; overflow: hidden;}

/*储值卡*/
.my_kx_czk{width: 580px; height: 323px; border-radius: 10px; overflow: hidden; background-color: #f5655d; margin: 30px auto 0;}
.my_kx_title{width: 580px; height: 87px; text-align: center; line-height: 87px; color: #fffefe; font-size: 24px; }
.yy_xhx{display: block; 100%; height: 2px; background: url("../../../../images/meirong/shop/yy_xhx.png") no-repeat; margin-bottom: 10px;}

.my_kx_balance{width: 580px; height: 70px; color: #fffefe; font-size: 24px; line-height:80px; overflow: hidden;}
.my_kx_balance_text{display: block; width: 257px; height: 70px; text-align: right; float: left;}

.my_kx_give_case{width: 580px; height: 70px; color: #fffefe; font-size: 24px; line-height:80px; overflow: hidden;} 
.my_kx_give_case_text{display: block; width: 257px; height: 70px; text-align: right; float: left;}
.my_kx_give_case_text2{display: block; width: 50px; height: 70px; text-align: center; float: left;}

.my_kx_num{ color: #444444; font-size: 40px; float: left; line-height: 73px; }
.my_kx_num c{font-size: 24px;}


.my_kx_bottom{width: 580px; height: 70px; background-color: #e5e5e5; margin-top: 17px; }
.my_kx_bottom_s1{display: block; width: 435px; height: 70px; color: #b3b3b3; font-size: 24px; line-height: 70px; text-indent: 25px; float: left; }
.btn_used_this{display: block; width: 145px; height: 70px; color: #b3b3b3; font-size: 24px; line-height: 70px; float: left; text-decoration: none;}
.btn_used_this span{float: left;}
.btn_used_this font{width: 11px; height: 21px; background: url("../../../../images/meirong/shop/jt_sp.png") -163px 0 no-repeat; float: left; margin: 24px 0 0 10px;}

.btn_used_this:hover{color: #b3b3b3;}

/*次卡*/
.my_kx_ck{width: 580px; height: 323px; border-radius: 10px; overflow: hidden; background-color: #ffa851; margin: 30px auto 0;}






